.quiz__title {
    width: 100%;

    border: 1px solid $gray-200;
    border-radius: 5px;
    padding: rem(20) rem(20);

    margin-bottom: rem(20);

    font: $font-1;
}

.create-quiz {
    padding: rem(40);
    height: 100%;
}

.create__button {
    justify-content: flex-end;
    width: 100%;
    margin: rem(8) 0;
}

.questions {

    &__add {
        margin-left: 0;
    }

    &__box {
        border: 1px solid $gray-300;

        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;

        padding: rem(10) rem(20);
        margin: rem(20) 0;
        border-radius: 5px;
    }
}
