.answers {
    border: 1px solid $gray-100;

    display: flex;
    position: relative;
    flex-direction: column;

    padding: rem(10) ;
    margin: rem(20) 0;
    border-radius: 5px;

    // List of answers
    &__box {
        width: 100%;
        padding: 0;
    }

    // Answer item
    &__answer {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: rem(20);
        width: 100%;


        // Answer title
        &__title {
            padding: rem(20) rem(20);
            border-radius: 5px;
            border: 1px solid $gray-100;
            background: none;
            color: $white;
            font-size: 1.25rem;
            width: 100%;
        }

        // Select if is correct answer
        &__select {
            // Relative positioning so the pseudo element can be positioned
            // relative to it
            position: relative;
            padding: 0.5rem;
            margin: 1rem;
            width: 2rem;
            height: 2rem;
            border-radius: 0.5rem;
            background-color: #333;
            // Create the filled in effect
            &::after {
                // Create a new pseudo element
                content: '';
                position: absolute;
                // Move in from left and top by .3 of root font size
                left: 0.3rem;
                top: 0.3rem;
                // Make the width full - double the .3 of the font size for a gap
                width: calc(100% - 0.6rem);
                height: calc(100% - 0.6rem);
                // Round the corners
                border-radius: 0.3rem;
                // Grayish white color
                background-color: $secondary-100;
                // Add a smooth transition between color and scale
                transition: background-color 0.2s ease, transform 0.2s ease;
                // Set the initial uncheck scale to 0 (not visible)
                transform: scale(0);
            }
            appearance: none;

            &__selected {
                // Play animation
                &.answers__answer__select::after {
                    transform: scale(1);
                }
            }
        }

        &__delete {
            cursor: pointer;
            margin: auto;
            padding-left: 1rem;
            width: auto;
            height: 1.5rem;
            border-radius: 8px;
        }
    }

    &__add {
        color: $white;
        border: 1px solid $white;
    }
}
