.badge {
    text-transform: uppercase;
    @include button-text;

    width: fit-content;
    border-radius: $border-radius;

    &-default {
        background-color: var(--neutral200);
        color: var(--neutral700)
    }

    &-active {
        background-color: var(--primary100);
        color: var(--primary600)
    }
}
