.button {
    cursor: pointer;

    background-color: $onyx;
    color: $white;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: rem(25);
    border-radius: 10px;

    gap: rem(25);

    @include shadow-1;

    &__icon {
        display: flex;
        flex-direction: column;

        justify-content: center;

        background-color: $gray-100;
        padding: rem(20);
        border-radius: 10px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        text-align: left;

        &__title {
            font-size: 1.4rem;
            font-weight: 500;
        }
    }

    &:hover {
        transition: 200ms ease-in-out;
        transform: translateY(-2px);
    }
}
