// My custom design system
// This file defines all the basic variables for the design system
// as well as colours, typography, and some basic components. Also sets up
// some basic selectors. Layouts are not made here.

// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Util Functions
@import './design-system-utils.scss';

// Colour Classes
.white {
    color: $white;
}

.white-100 {
    color: $white-100;
}

.white-200 {
    color: $white-200;
}

.gray-100 {
    color: $gray-100;
}

.gray-200 {
    color: $gray-200;
}

.gray-300 {
    color: $gray-300;
}

.primary-100 {
    color: $primary-100;
}

.primary-200 {
    color: $primary-200;
}

.primary-300 {
    color: $primary-300;
}

.secondary-100 {
    color: $secondary-100;
}

.secondary-200 {
    color: $secondary-200;
}

.secondary-300 {
    color: $secondary-300;
}

.black {
    color: $black;
}

.onyx {
    color: $onyx;
}

.independence {
    color: $independence;
}

.alice-blue {
    color: $alice-blue;
}

.shadow-blue {
    color: $shadow-blue;
}

// Background classes
.white-bg {
    background-color: $white;
}

.white-100-bg {
    background-color: $white-100;
}

.white-200-bg {
    background-color: $white-200;
}

.gray-100-bg {
    background-color: $gray-100;
}

.gray-200-bg {
    background-color: $gray-200;
}

.gray-300-bg {
    background-color: $gray-300;
}

.primary-100-bg {
    background-color: $primary-100;
}

.primary-200-bg {
    background-color: $primary-200;
}

.primary-300-bg {
    background-color: $primary-300;
}

.secondary-100-bg {
    background-color: $secondary-100;
}

.secondary-200-bg {
    background-color: $secondary-200;
}

.secondary-300-bg {
    background-color: $secondary-300;
}

.black-bg {
    background-color: $black;
}

.onyx-bg {
    background-color: $onyx;
}

.independence-bg {
    background-color: $independence;
}

.alice-blue-bg {
    background-color: $alice-blue;
}

.shadow-blue-bg {
    background-color: $shadow-blue;
}

.primary-gradient-100 {
    @include primary-gradient-100;
}

.primary-gradient-200 {
    @include primary-gradient-200;
}

.primary-gradient-300 {
    @include primary-gradient-300;
}

.text-gradient {
    @include text-gradient;
}

.display-1 {
    @include display-1;
}

.display-2 {
    @include display-2;
}

.heading-1 {
    @include heading-1;
}

.heading-2 {
    @include heading-2;
}

.heading-3 {
    @include heading-3;
}

.sub-heading-1 {
    @include sub-heading-1;
}

.body-1 {
    @include body-1;
}

.body-2 {
    @include body-2;
}

.body-3 {
    @include body-3;
}

.paragraph {
    @include paragraph;
}

.sub-text {
    @include sub-text;
}

.small-text {
    @include small-text;
}

.small-heading-1 {
    @include small-heading-1;
}

.small-heading-2 {
    @include small-heading-2;
}

.button-text {
    @include button-text;
}

.link-text {
    @include link-text;
}

// Main typography selectors
// h1 {
//     @include display-1;
// }

// h2 {
//     @include heading-2;
// }

// h3 {
//     @include heading-3;
// }

// p {
//     @include paragraph;
// }

// a {
//     @include link-text;
// }

// Hover animation for links
.link {
    transition: 200ms ease-in-out;

    &:hover {
        color: $primary-200;
    }
}

// Actual base selectors
* {
    -webkit-font-smoothing: antialiased;
    outline: none;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::-moz-selection {
    color: $white;
    background: $gray-100;
}

::selection {
    color: $white;
    background: $gray-100;
}

html {
    overflow-x: hidden;
    pointer-events: all;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    font-size: 1.125rem;
}

// Dynamic screen scaling
@media screen and (max-width:1920px) { html { font-size: calc(0.625rem + 0.41666666666666674vw); } }
@media screen and (max-width:1440px) { html { font-size: calc(0.8126951092611863rem + 0.20811654526534862vw); } }
@media screen and (max-width:479px) { html { font-size: calc(0.7494769874476988rem + 0.8368200836820083vw); } }

body {
    // Make sure no horizontal scroll
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;

    // Default colours
    background-color: $white-100;
    color: $onyx;

    // Default font
    font-family: $font-1;
}

// Main content container
.container {
    width: 60vw;
    margin: 0 auto;

    @include xl {
        width: 80vw;
    }

    @include lg {
        width: 85vw;
    }

    @include md {
        width: 90vw;
    }
}