// Convert px value to rem
@function rem($value) {
    $remValue: calc(($value / 16)) + rem;
    @return $remValue;
}

// Breakpoints

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 30em;
// Small tablets (portrait view)
$screen-md-min: 48em;
// Tablets and small desktops
$screen-lg-min: 62em;
// Large tablets and desktops
$screen-xl-min: 80em;

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
}

// Fonts
$font-1: 'Poppins', sans-serif;
$font-2: 'Mulish', sans-serif;
$font-3: 'Source Sans Pro', sans-serif;
$font-4: 'Lexend Deca', sans-serif;

// Colours
$white: #ffffff;
$white-100: #fefefe;
$white-200: #fafafa;
$gray-100: #696979;
$gray-200: #a5a5af;
$gray-300: #e1e1e4;
$primary-100: #9381ff;
$primary-200: #beb3ff;
$primary-300: #e9e6ff;
$secondary-100: #64b5f6;
$secondary-200: #a2d3fa;
$secondary-300: #e0f0fd;
$black: #000000;
$onyx: #32363f;
$independence: #404866;
$alice-blue: #ecf0f4;
$shadow-blue: #8393a8;

// Shadows
@mixin shadow-1 {
    box-shadow: 5px 11px 18px -8px rgba(0, 0, 0, 0.25);
}

@mixin shadow-2 {
    box-shadow: 5px 11px 18px -8px rgba(0, 0, 0, 0.4);
}

@mixin shadow-3 {
    box-shadow: 5px 11px 18px -8px rgba(0, 0, 0, 0.5);
}

@mixin shadow-soft {
    box-shadow: 0px 11px 18px -12px rgba(0, 0, 0, 0.25);
}

// Gradients
@mixin primary-gradient-100 {
    background: linear-gradient(90deg, $primary-100 0%, $secondary-100 100%);
}

@mixin primary-gradient-200 {
    background: linear-gradient(90deg, $primary-200 0%, $secondary-200 100%);
}

@mixin primary-gradient-300 {
    background: linear-gradient(90deg, $primary-300 0%, $secondary-300 100%);
}

@mixin text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Typography Styles plus base classes
@mixin display-1 {
    font-family: $font-3;
    font-style: normal;
    font-weight: 800;
    font-size: rem(64);
    line-height: rem(106);
    letter-spacing: 0.02em;
}

@mixin display-2 {
    font-family: $font-3;
    font-style: normal;
    font-weight: 800;
    font-size: rem(56);
    line-height: rem(94);
    letter-spacing: 0.02em;
}

@mixin heading-1 {
    font-family: $font-1;
    font-style: normal;
    font-weight: bold;
    font-size: rem(48);
    line-height: rem(58);
}

@mixin heading-2 {
    font-family: $font-1;
    font-style: normal;
    font-weight: bold;
    font-size: rem(36);
    line-height: rem(44);
}

@mixin heading-3 {
    font-family: $font-1;
    font-style: normal;
    font-weight: 600;
    font-size: rem(24);
    line-height: rem(29);
}

@mixin sub-heading-1 {
    font-family: $font-1;
    font-style: normal;
    font-weight: 600;
    font-size: rem(22);
    line-height: rem(27);
}

@mixin body-1 {
    font-family: $font-2;
    font-style: normal;
    font-weight: normal;
    font-size: rem(18);
    line-height: rem(24);
}

@mixin body-2 {
    font-family: $font-2;
    font-style: normal;
    font-weight: normal;
    font-size: rem(16);
    line-height: rem(22);
}

@mixin body-3 {
    font-family: $font-2;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14);
    line-height: rem(20);
}

@mixin paragraph {
    font-family: $font-2;
    font-style: normal;
    font-weight: normal;
    font-size: rem(16);
    line-height: rem(20);
}

@mixin sub-text {
    font-family: $font-2;
    font-style: normal;
    font-weight: normal;
    font-size: rem(20);
    line-height: rem(26);
}

@mixin small-text {
    font-family: $font-1;
    font-style: normal;
    font-weight: bold;
    font-size: rem(14);
    line-height: rem(24);
}

@mixin small-heading-1 {
    font-family: $font-1;
    font-style: normal;
    font-weight: bold;
    font-size: rem(18);
    line-height: rem(24);
}

@mixin small-heading-2 {
    font-family: $font-1;
    font-style: normal;
    font-weight: 500;
    font-size: rem(18);
    line-height: rem(24);
}

@mixin button-text {
    font-family: $font-1;
    font-style: normal;
    font-weight: bold;
    font-size: rem(14);
    line-height: rem(17);
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

@mixin link-text {
    font-family: $font-1;
    font-style: normal;
    font-weight: bold;
    font-size: rem(14);
    line-height: rem(17);
    color: $primary-100;
    text-decoration: none;
}
